Source: socks-proxy-manager
Maintainer: Ilya Kuksenok <ilya.kuksenok@gmail.com>
Section: utils
Priority: optional
Build-Depends: python3-all, python3-setuptools
Standards-Version: 0.2.0

Package: socks-proxy-manager
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}, openssh-client
Description: SOCKS Proxy Manager
 A tool to manage SSH SOCKS proxy connections as systemd services
